.container{
  border: 3px solid black;
  background: pink;
  width: 100%;
  height: 500px;
}
.column1of3, .column2of3, .column3of3 {
  background: lightgrey;
  border: 2px solid black;
  margin: 25px 20px 5px 20px;
  padding: 10px 10px 10px 10px;
  float: left;
}

.column1of3 > ul li {
  width: 180px;
  font-size: 20px;
  list-style-type: none !important;
}

.column2of3{
  width: 420px;
}

.column3of3 {
  width: 420px;
}

.image{
  padding: 5px 5px 5px 5px;
}

.text-container{
  margin-top: 20px;
  padding: 5px 5px 5px 5px;
  background: lightblue;
}

#blog-div{
  margin-top: 20px;
}
