.container{
  border: 3px solid black;
  background: pink;
  width: 100%;
  height: 500px;
}
.column1of3, .column2of3, .column3of3 {
  background: lightgrey;
  border: 2px solid black;
  margin: 15px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  float: left;
}

.column1of3{
  width: 250px;
  margin-left: 20px;
}

.column2of3{
  width: 420px;
  margin-left: 30px;
}

.column3of3 {
  width: 420px;
  margin-left: 30px;
  margin-right: 20px;
}

.image{
  padding: 5px 5px 5px 5px;
}

.text-container{
  margin-top: 20px;
  padding: 5px 5px 5px 5px;
  background: lightblue;
}

#blog-div{
  margin-top: 20px;
}
